/* ---------- */
/* RESPONSIVE */
/* ---------- */
/* Mac ignores maxwidth */
@media screen and (min-width: 661px) {
	#combinedsnippetfooter .innercontainer {
		width: 660px !important;
	}
}

@media only screen and (max-width: 480px) {
    /*#wdcs_header_body {*/
    /*    display: none !important;*/
    /*}*/

    /*#wdcs_header_body, #emailBody, #wdcs_footer_body,*/
    /*table.flexibleContainer {*/
    /*    width: 100% !important;*/
    /*}*/
    /* geht nicht */
    #green_whale_icons img.flexibleImage.bracket {
        width: 46px;
    }
    #green_whale_icons img.flexibleImage.whale_button {
        width: 146px;
    }
    #green_whale_icons img.flexibleImage.whale {
        width: 100px;
    }
    #wdc_footer_logo {
        text-align: center !important;
    }
/*    #green_whale .flexibleContainer25.flexibleContainer25left.flexibleContainer25left_text {
        width: 100% !important;
    }*/
    #green_whale_icons,
    #green_whale {
        display: block !important;
        text-align: center !important;
    }

    #green_whale {
        margin: 10px;
    }
/*    #green_whale_icons > img {
        transform: rotate(90deg);
    }*/
    .whale_button {
        margin: 0 0 40px 0;
    }
    /* geht nicht */
    #combinedsnippetfooter td > table.flexibleContainer25 {
        text-align: center !important;
    }
    #combinedsnippetfooter #actionsection img.flexibleImage {
        max-width: 80px;
        width: 80px;

    }
    #combinedheadersnippet img.flexibleImage.tqtlogo {
        max-width: 122px;
        width: 122px;
    }

    #combinedsnippetfooter #mediaicons table.flexibleContainerLeft img.flexibleImage {
        width: 32px !important;
    }
    #mediaicons img.flexibleImage.mediaicon {
        width: 32px !important;
        display: initial;
    }
    #combinedsnippetfooter .snippet_block_text_four_colums > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table > tbody > tr > td > table {
        width: 100%;
    }
        /* Footer extra Snippet */
    #green_whale > table.flexibleContainer25.flexibleContainer25right > tbody > tr > td > a > img {
        width: 100px !important;
    }
    #green_whale > table.flexibleContainer25.flexibleContainer25middle_right > tbody > tr > td > a > img {
        width: 146px !important;
    }
    #green_whale > table.flexibleContainer25.flexibleContainer25middle_left > tbody > tr > td > img {
        min-width: 37px !important;
    }
    #green_whale > table.flexibleContainer25.flexibleContainer25left.flexibleContainer25left_text {
        margin-bottom: 20px !important;
    }
        #green_whale > table.flexibleContainer25.flexibleContainer25left.flexibleContainer25left_text > tbody > tr > td > span {
        margin: 0px;
    }
    #emailBody,
    table.flexibleContainer {
        width: 100% !important;
    }

    .h1, h1{
        font-size: 24px;
        padding-bottom: 12px;
        font-weight: 700;
    }

    .h2, h2{
        font-size: 22px;
        font-weight: 700;
    }

    .h3, h3{
        font-size: 20px;
        font-weight: 300;
    }

    .h4, h4{
        font-size: 18px;
        font-weight: 300;
    }

    .h5, h5{
        font-size: 16px;
        font-weight: 300;
    }

    .h6, h6{
        font-size: 14px;
        font-weight: 300;
    }

    .snippet_block_text_image_left.wita_text_image_witagrey_box .flexibleContainerRight .textContent,
    .snippet_block_text_image_left.wita_text_image_red_box .flexibleContainerRight .textContent {
        padding: 10px 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;

    }
    body #emailBody .snippet_block_text_image_left .flexibleContainerLeft {
    min-height: inherit;
}

}
