.glyphicon-info-sign {
    color: white;
    background-color: #CC499C;
    border-color: #666;
}

.glyphicon-info-sign:hover {
    color: white;
    background-color: #913d6a;
    border-color: #666;
}
